<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.VideoMapper">

    <!-- 영상 목록 출력 (검색창, 페이징 포함) -->
    <select id="videoList" resultType="kr.ed.haebeop.domain.Video">
        <![CDATA[
        select * from video
        ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()">
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        order by resdate desc LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <!-- 영상 글 상세보기 -->
    <select id="videoDetail" resultType="kr.ed.haebeop.domain.Video">
        select * from video where no=#{no}
    </select>

    <!-- 글 수 카운트 -->
    <select id="totalCount" resultType="integer">
        <![CDATA[
    select count(*) from video
       ]]>
        <where>
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'title'.toString()">
                        title LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'content'.toString()">
                        content LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <!-- 영상 글 작성 -->
    <insert id="videoInsert">
        insert into video VALUES (default, #{title}, #{img}, #{content}, #{videofile}, #{teacher}, default, default);
    </insert>

    <!-- 영상 글 삭제 -->
    <delete id="videoDelete">
        delete from video where no=#{no}
    </delete>

    <!-- 영상 글 수정 -->
    <update id="videoEdit">
        update video set title=#{title}, img=#{img}, content=#{content}, videofile=#{videofile}, teacher=#{teacher} where no=#{no}
    </update>

    <!-- visit 증가 -->
    <update id="countUp">
        update video set visit = visit+1 where no=#{no}
    </update>

    <!-- 검색창 (제목, 내용) -->
    <sql id="criteria">
        <where>
            <trim prefixOverrides="OR">
                <foreach item="type" collection="typeArr">
                    <trim prefixOverrides="OR">
                        <choose>
                            <when test="type == 'T'.toString()">
                                title LIKE '%' || #{keyword} || '%'
                            </when>
                            <when test="type == 'C'.toString()">
                                content LIKE '%' || #{keyword} || '%'
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </where>
    </sql>

    <!-- 페이징 처리 -->
    <select id="getListWithPaging" resultType="kr.ed.haebeop.domain.Video">
        <![CDATA[
        select * from video
        ]]>
        <include refid="criteria" />
        <![CDATA[
        ORDER BY regdate DESC LIMIT ((#{pageNum} - 1) * #{amount}), #{amount}
        ]]>
    </select>
</mapper>